# ignore tex exports
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.bcf
*.run.xml
_minted-*

# ignore binary files
*.pdf
*.docx
*.xoj
*.png

.DS_Store
